<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="approve.css">
  </head>
<body>
    <table>
        <tr>
            <th>Product Name</th>
            <th>Product type</th>
            <th>Build date</th>
            <th>Expiry date</th>
            <th>Upload photo</th>
            <th>Product size</th>
            <th>Edit / Update</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button>Edit</button>
                <button>Update</button>
                </td>
            </tr>
            <tr>
                <td colspan="10"> <button>Add Product</button></td>
            </tr>
            </table>
         </body>
</html>