<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Register.css">
</head>
<body>
    <div class="Add-container">
        <div class="header">
         <h1>Update product</h1>
        </div>
         <div class="card">
            <form>
        <div class="form-group">
            <label for="html">Product Name</label>
            <input type="text" placeholder="Product Name">
        </div>
        <div class="form-group">
            <label for="html">Product Type</label>
            <input type="text" placeholder="Product Type">
            </div>
        <div class="form-group">
            <label for="html">Manufacture Date</label>
            <input type="text" placeholder="Manufacture Date">
        </div>
        <div class="form-group">
            <label for="html">Expiry Date </label>
            <input type="text" placeholder="Expiry Date">       
        </div>
        <div class="form-group">
            <label for="html">Uplaod Photo</label>
            <input type="file" placeholder="Uplaod Photo">
        </div>
        <div class="form-group">
            <label for="html">Product Price</label>
            <input type="text" placeholder="Product Price">
        </div>
        <div class="form-group">
            <button>Update</button>
        </div>
        </form>
    </div>
</body>
</html>